.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

.label-shrink > Label {
    min-width: auto;
}

.label-shrink > .unity-base-field__input {
    min-width: 100px;
}
